.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  margin: 50px auto;
}

img {
  height: 300px;
  width: 300px;
  margin: 40px;
}
input {
  display: none;
}
